.choice:hover {
    color: white;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;

}

.choice-navbar:hover {
    opacity: 0.9;
}




/* 
.image-name:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33);
} */