{% extends 'base.html' %}


{% block title %}Image/{{img.image_name}}{% endblock title %}



{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-8 bg-dark border border-dark rounded me-0 py-3 bg-gradient ">
            <img src="{{ img.image.url }}" alt="" class="img-thumbnail mx-auto d-block" style="max-height: 600px;">

            <!-- Include Like and Comment -->
            {% include 'like_comment.html' %}
        </div>

        <!-- Other Divided Half of The Page  -->

        <div class="col-4 bg-dark text-light h-50 border rounded border-dark">
            <div class="bg-secondary h1 text-center py-2 text-light">Info</div>
            <div class="container h4 my-5">
                Name:
                <strong>{{img.image_name}}</strong> <br>

                Category:
                <strong>{{img.category}}</strong> <br>

                Upload Date:
                <strong>{{img.upload_date}}</strong> <br>

                Uploaded By:
                <a href="{% url 'selected_user_images' img.user.id %}"
                    class="link-light"><strong>@{{img.user}}</strong></a>
            </div>
        </div>

    </div>


</div>




{% endblock content %}